<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Topic Voter Application</title>
</head>
<body>
<h1>welcome</h1>

<form action="/createProject" method="post">
    <input type="text" name="title" required="required" />
    <input type="text" name="language" />
    <input type="text" name="description" />
    <input type="submit" value="add" />
</form>

<ul>
    <li th:each="project : ${projects}">
        <span th:text="${project.title}"></span>
        :
        <span th:text="${project.language}"></span>
        :
        <span th:text="${project.description}"></span>

        <form action="/deleteProject" method="post">
            <input type="hidden" th:value="${project.id}" name="id"/>
            <input type="submit" value="X"/>
        </form>
    </li>
</ul>


</body>
</html>